In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import sqlalchemy as sqlalchemy

In [2]:
# JoshBrar 12/2/2020 -  Begin

movies_file = "Resources/MoviesOnStreamingPlatforms_updated.csv"
movies_df = pd.read_csv(movies_file)
movies_df.head()
# JoshBrar 12/2/2020 -  End

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [3]:
#JackieH 12/2/2020 - Begin 
movie_genras_col =  ["ID", "Title", "Year","Age","IMDb","Rotten Tomatoes","Netflix","Hulu","Prime Video","Disney+","Genres"]
movies_cols = ["ID", "Title", "Year","Age","IMDb","Rotten Tomatoes","Netflix","Hulu","Prime Video","Disney+"]

new_movies_df= movies_df[movies_cols].copy()

movies_transformed_genras_df= movies_df[movie_genras_col].copy()

movies_transformed_df= new_movies_df.rename(columns={"ID":'id',
                                                  "Title":"title",
                                                "Year":"released_year",
                                                "Age": "content_rating",
                                             "IMDb":"imdb_rating",
                                             "Rotten Tomatoes":"rot_tomatoes_rating",
                                                  "Netflix":"netflix",
                                                  "Hulu":"hulu",
                                             "Prime Video":"prime_video",
                                             "Disney+":"disney"})

movies_transformed_df.drop_duplicates("id", inplace=True)
movies_transformed_df.set_index("id", inplace=True)

movies_transformed_df.head()
#JackieH 12/2/2020 - End

,title,released_year,content_rating,imdb_rating,rot_tomatoes_rating,netflix,hulu,prime_video,disney
id,,,,,,,,,
1,Inception,2010,13+,8.8,87%,1,0,0,0
2,The Matrix,1999,18+,8.7,87%,1,0,0,0
3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0
4,Back to the Future,1985,7+,8.5,96%,1,0,0,0
5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0

In [4]:
movies_transformed_genras_df = movies_transformed_genras_df.dropna(subset=['Genres'])

movies_transformed_genras_df.head(519)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Genres
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,"Action,Adventure,Sci-Fi,Thriller"
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Action,Sci-Fi"
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,"Action,Adventure,Sci-Fi"
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,"Adventure,Comedy,Sci-Fi"
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,Western
...,...,...,...,...,...,...,...,...,...,...,...
514,515,Kursk,2018,13+,6.6,69%,1,0,0,0,"Action,Adventure,Drama,History,Thriller"
515,516,Deep Impact,1998,13+,6.2,45%,1,0,0,0,"Action,Drama,Romance,Sci-Fi,Thriller"
516,517,The Kindergarten Teacher,2018,NaN,6.7,89%,1,0,0,0,Drama
517,518,Stonehearst Asylum,2014,13+,6.8,54%,1,0,0,0,"Drama,Horror,Thriller"
519,520,The Wandering Earth,2019,13+,6.0,75%,1,0,0,0,"Action,Drama,Sci-Fi"

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video

In [5]:
# JoshBrar 12/2/2020 -  Begin

varx =  tvshows_df.loc[:]['Genre']
varx
vary=[]

for x in  tvshows_df['Genre']:
    #vary.append(x.split(sep=','))
    vary +=x.split(sep=',')
vary
# JoshBrar 12/2/2020 - End

['Crime',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Animation',
 'Comedy',
 'Drama',
 'Fantasy',
 'Action & Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Drama',
 'History',
 'Action & Adventure',
 'Crime',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Animation',
 'Comedy',
 'Romance',
 'Comedy',
 '2005',
 'Drama',
 'Fantasy',
 'Crime',
 'Drama',
 'Comedy',
 'Crime',
 'Action & Adventure',
 'Anime',
 'Drama',
 'Science-Fiction',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Mystery',
 'Fantasy',
 'Crime',
 'Thriller',
 'Action & Adventure',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Animation',
 'Comedy',
 'Action & Adventure',
 'Science-Fiction',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Horror',
 'Action & Adventure',
 'Drama',
 'Comedy',
 'Crime',
 'Comedy',
 'LGBTQ',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Science-Fiction',
 'Crime',
 'Drama',
 'Animation',
 'Comedy',
 'Comedy',
 '2009',
 'Drama',
 '2007',
 'Action & Adventure',
 'Crime',
 'Drama',
 'Science-Fiction',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Documentary',
 'Biography',
 'Comedy',
 '2009',
 'Comedy',
 '2005',
 'Drama',
 'Horror',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Stand-up & Talk',
 'Horror',
 'Drama',
 'Action & Adventure',
 'Anime',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Drama',
 'Science-Fiction',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Romance',
 'Action & Adventure',
 'Anime',
 'Drama',
 'Sport',
 'Drama',
 'Science-Fiction',
 'Action & Adventure',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'History',
 'Drama',
 'Fantasy',
 'Thriller',
 'Biography',
 'Science-Fiction',
 'Animation',
 'Crime',
 'Drama',
 'Drama',
 'Fantasy',
 'Drama',
 'Action & Adventure',
 'Action & Adventure',
 'Animation',
 'Action & Adventure',
 'Comedy',
 'Animation',
 'Comedy',
 'Comedy',
 '2003',
 'Action & Adventure',
 'Thriller',
 'Thriller',
 'LGBTQ',
 'Comedy',
 '2014',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'LGBTQ',
 'Drama',
 '2018',
 'Comedy',
 'Drama',
 'Drama',
 'LGBTQ',
 'Drama',
 'Science-Fiction',
 'Drama',
 'Action & Adventure',
 'Action & Adventure',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Action & Adventure',
 'Fantasy',
 'Animation',
 'Comedy',
 'Comedy',
 'Stand-up & Talk',
 'Action & Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 '2000',
 'Biography',
 'Drama',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Science-Fiction',
 'Action & Adventure',
 'History',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Animation',
 'Drama',
 'LGBTQ',
 'Drama',
 'Comedy',
 'Horror',
 'Thriller',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 '2006',
 'Drama',
 'Fantasy',
 'Action & Adventure',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Action & Adventure',
 'Action & Adventure',
 'Comedy',
 'Documentary',
 '2016',
 'Action & Adventure',
 'Drama',
 'Comedy',
 'Fantasy',
 'Drama',
 'Crime',
 'Action & Adventure',
 'Comedy',
 'Action & Adventure',
 'Crime',
 'Drama',
 '2016',
 'Drama',
 '1999',
 'Animation',
 'Science-Fiction',
 'Action & Adventure',
 'Science-Fiction',
 'Comedy',
 'Drama',
 'Comedy',
 'Crime',
 'Action & Adventure',
 'Crime',
 'Action & Adventure',
 'Drama',
 'Fantasy',
 'Science-Fiction',
 'Drama',
 'Thriller',
 'Comedy',
 '2015',
 'Comedy',
 '2011',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Crime',
 'Crime',
 'Drama',
 'Drama',
 'Sport',
 'Drama',
 '2018',
 'Crime',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Mystery',
 'Drama',
 'Fantasy',
 'Crime',
 'Drama',
 'Animation',
 'Anime',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Crime',
 'Drama',
 'Fantasy',
 'Action & Adventure',
 'Comedy',
 'Comedy',
 'Family',
 'Drama',
 'Crime',
 'Comedy',
 '2006',
 'Drama',
 'Science-Fiction',
 'Comedy',
 'Musical',
 'Crime',
 'Drama',
 'Animation',
 'Comedy',
 'Action & Adventure',
 'Anime',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Mystery',
 'Science-Fiction',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Action & Adventure',
 'Action & Adventure',
 'Drama',
 'Drama',
 'History',
 'Documentary',
 'Crime',
 'Drama',
 '2020',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Mystery',
 'Drama',
 'Fantasy',
 'Comedy',
 'Mystery',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Documentary',
 '2019',
 'Animation',
 'Children',
 'Drama',
 'Horror',
 'Action & Adventure',
 'Anime',
 'Comedy',
 'Crime',
 'Mystery',
 'Science-Fiction',
 'Drama',
 'Sport',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Crime',
 'Action & Adventure',
 'Anime',
 'Mystery',
 'Comedy',
 'Comedy',
 'Horror',
 'Comedy',
 '1993',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Animation',
 'Anime',
 'Drama',
 'Crime',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Animation',
 'Anime',
 'Comedy',
 '2000',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Thriller',
 'Action & Adventure',
 'Crime',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Fantasy',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Fantasy',
 'Comedy',
 '2012',
 'Comedy',
 'Drama',
 'Mystery',
 'Drama',
 'Crime',
 'Drama',
 'Animation',
 'Comedy',
 'Drama',
 '2012',
 'Action & Adventure',
 'Crime',
 'Science-Fiction',
 'Action & Adventure',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Mystery',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Fantasy',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Anime',
 'Comedy',
 'Drama',
 'Comedy',
 '1975',
 'Drama',
 'Science-Fiction',
 'Drama',
 'Crime',
 'Comedy',
 '2003',
 'Drama',
 '2014',
 'Action & Adventure',
 'Anime',
 'Action & Adventure',
 'Anime',
 'Action & Adventure',
 'Animation',
 'Animation',
 'Action & Adventure',
 'Drama',
 'Romance',
 'Animation',
 'Comedy',
 'Comedy',
 'Travel',
 'Comedy',
 'Drama',
 'Drama',
 'Mystery',
 'Crime',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Fantasy',
 'Drama',
 'Crime',
 'Crime',
 'Drama',
 'Drama',
 'Science-Fiction',
 'Drama',
 'Crime',
 'Comedy',
 'Action & Adventure',
 'Comedy',
 'Drama',
 'Comedy',
 'Crime',
 'Drama',
 'LGBTQ',
 'Comedy',
 'LGBTQ',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Science-Fiction',
 'Action & Adventure',
 'Drama',
 'Family',
 'Documentary',
 'History',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Action & Adventure',
 'Action & Adventure',
 'Anime',
 'Drama',
 'Science-Fiction',
 'Comedy',
 'Drama',
 'Comedy',
 'LGBTQ',
 'Documentary',
 '2014',
 'Drama',
 'LGBTQ',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Documentary',
 'Crime',
 'Action & Adventure',
 'Fantasy',
 'Drama',
 'Crime',
 'Action & Adventure',
 'Mystery',
 'Action & Adventure',
 'Drama',
 'Comedy',
 'Drama',
 'Documentary',
 'Crime',
 'Comedy',
 'LGBTQ',
 'Action & Adventure',
 'Animation',
 'Drama',
 'Family',
 'Reality',
 'LGBTQ',
 'Thriller',
 'Action & Adventure',
 'Comedy',
 '1969',
 'Comedy',
 'Drama',
 'Animation',
 'Action & Adventure',
 'Science-Fiction',
 'Action & Adventure',
 'Action & Adventure',
 'Drama',
 'Comedy',
 'Animation',
 'Drama',
 'Mystery',
 'Action & Adventure',
 'Drama',
 'Comedy',
 'Documentary',
 'Comedy',
 'Science-Fiction',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'Comedy',
 'Horror',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 '2017',
 'Drama',
 'Action & Adventure',
 'Crime',
 'Drama',
 'Drama',
 '2010',
 'Animation',
 'Anime',
 'Comedy',
 'Drama',
 'Comedy',
 '2005',
 'Action & Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Science-Fiction',
 'Comedy',
 'Action & Adventure',
 'Comedy',
 '1995',
 'Animation',
 'Comedy',
 'Drama',
 'Fantasy',
 'Crime',
 'Drama',
 'Biography',
 'Crime',
 'Drama',
 'LGBTQ',
 'Drama',
 'Action & Adventure',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Crime',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Documentary',
 'Drama',
 '2014',
 'Drama',
 'Romance',
 'Action & Adventure',
 'Crime',
 'Thriller',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Action & Adventure',
 'Fantasy',
 'Horror',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 '2014',
 'Action & Adventure',
 'Fantasy',
 'Documentary',
 'Cult',
 'Drama',
 'Science-Fiction',
 'Drama',
 'Romance',
 'Action & Adventure',
 'Anime',
 'Comedy',
 '2011',
 'Drama',
 'Science-Fiction',
 'Comedy',
 'Musical',
 'Comedy',
 'Sport',
 'Comedy',
 '2008',
 'Comedy',
 'Mystery',
 'Comedy',
 'Stand-up & Talk',
 'Comedy',
 'LGBTQ',
 'Drama',
 '2013',
 'Action & Adventure',
 'Anime',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Action & Adventure',
 'Animation',
 'Anime',
 'Drama',
 'Comedy',
 'Science-Fiction',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Thriller',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Family',
 'Animation',
 'Anime',
 'Drama',
 'Comedy',
 'Comedy',
 'Family',
 'Horror',
 'Drama',
 'Drama',
 '2018',
 'Action & Adventure',
 'Comedy',
 'Action & Adventure',
 'Animation',
 'Animation',
 'Anime',
 'Crime',
 'Drama',
 'Comedy',
 'Fantasy',
 'Drama',
 'Comedy',
 'Comedy',
 'Family',
 'Animation',
 'Comedy',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Mystery',
 'Drama',
 'Action & Adventure',
 'Action & Adventure',
 'Drama',
 'Drama',
 'Crime',
 'Comedy',
 '2015',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'Romance',
 'Comedy',
 '2018',
 'Drama',
 'Fantasy',
 'Drama',
 'Fantasy',
 'Drama',
 'History',
 'Action & Adventure',
 'Fantasy',
 'Drama',
 'Science-Fiction',
 'Animation',
 'Anime',
 'Drama',
 'Science-Fiction',
 'Fantasy',
 'Action & Adventure',
 'Comedy',
 '2005',
 'Action & Adventure',
 'Science-Fiction',
 'Animation',
 'Children',
 'Animation',
 'Action & Adventure',
 'Action & Adventure',
 'Crime',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Comedy',
 'Crime',
 'Crime',
 'Drama',
 'Science-Fiction',
 'Action & Adventure',
 'Drama',
 'Crime',
 'Action & Adventure',
 'Anime',
 'Action & Adventure',
 'Drama',
 'Drama',
 'History',
 'Comedy',
 '2005',
 'Drama',
 'Action & Adventure',
 'Comedy',
 'Family',
 'Animation',
 'Comedy',
 'Drama',
 'Mystery',
 'Drama',
 'Thriller',
 'Drama',
 'Crime',
 'Action & Adventure',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 '2017',
 'Drama',
 'Fantasy',
 'Drama',
 'Thriller',
 'Drama',
 'Family',
 'Drama',
 'Horror',
 'Comedy',
 'Family',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Crime',
 'Drama',
 'Action & Adventure',
 'Fantasy',
 'Drama',
 'Mystery',
 'Comedy',
 '2015',
 'Action & Adventure',
 'Animation',
 'Drama',
 'Crime',
 'Drama',
 'Crime',
 'Comedy',
 'Science-Fiction',
 'Biography',
 'Crime',
 'Action & Adventure',
 'Animation',
 'Drama',
 'Science-Fiction',
 'Drama',
 '2020',
 'Drama',
 'Family',
 'Action & Adventure',
 'Anime',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Animation',
 'Comedy',
 'Action & Adventure',
 'Drama',
 'Documentary',
 '2017',
 'Comedy',
 'Drama',
 'Comedy',
 'Family',
 'Comedy',
 'Romance',
 'Comedy',
 'LGBTQ',
 'Documentary',
 'Comedy',
 'Drama',
 'Mystery',
 'Drama',
 'Action & Adventure',
 'Documentary',
 'Food',
 'Drama',
 'Horror',
 'Action & Adventure',
 'Fantasy',
 'Comedy',
 'Drama',
 'Drama',
 'Fantasy',
 'Crime',
 'Drama',
 'Comedy',
 '2009',
 'Crime',
 'Drama',
 'Comedy',
 'Fantasy',
 'Action & Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Comedy',
 'Romance',
 'Animation',
 'Action & Adventure',
 'Action & Adventure',
 'Comedy',
 'Thriller',
 'Drama',
 'Action & Adventure',
 'Crime',
 'Action & Adventure',
 'Fantasy',
 'Crime',
 'Drama',
 'Drama',
 'Science-Fiction',
 'Drama',
 'Biography',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Action & Adventure',
 'Drama',
 'Action & Adventure',
 'Crime',
 'Action & Adventure',
 'Anime',
 'Biography',
 'Crime',
 'Crime',
 'Documentary',
 'Action & Adventure',
 'Drama',
 'Comedy',
 'Romance',
 'Action & Adventure',
 'Crime',
 'Comedy',
 '2011',
 'Biography',
 'Drama',
 'Documentary',
 '2006',
 'Animation',
 'Anime',
 'Action & Adventure',
 'Comedy',
 'Action & Adventure',
 'Anime',
 'Comedy',
 'Drama',
 'Action & Adventure',
 'Crime',
 'Comedy',
 'Crime',
 'Comedy',
 'Family',
 'Comedy',
 '2020',
 'Action & Adventure',
 'Anime',
 'Action & Adventure',
 'Animation',
 'Drama',
 'Science-Fiction',
 'Action & Adventure',
 'Crime',
 'Crime',
 'Drama',
 'Crime',
 'Drama',
 'Documentary',
 'Biography',
 'Drama',
 'Family',
 'Comedy',
 'Science-Fiction',
 ...]

In [ ]:
# JoshBrar 12/2/2020 -  Begin
movie_genras = []
for mm in  movies_transformed_genras_df.loc[:]['Genres']:
    vary +=mm.split(sep=',')
    
vary    
# JoshBrar 12/2/2020 -  End

In [6]:
# AlexB 12/2/2020 - Begin 
# load unique genras types into genras dataframe

genras_df = pd.DataFrame({'genras_name' : vary})
genras_to_drop =['2005', '2007', '2009', '2003','2014', '2018', '2000', '2006', '2016', '1999','2015', '2011', '2020', '2019',
        '1993', '2012', '1975','1969', '2017',
       '2010', '1995', '2008', '2013', '1992', '1998',
       '1987', '1996','1983','1981', '1965', 'Netflix',
       '1990', '1997', '2001', '1955', '1984', '1974',
       '2002', '1964', '1980', '1978', '1977', '2004', '1994', '1976',
       '1972', '1982', '1970', '1989', '1985', '1986', '1968', '1991',
       '1949', '1979', '1971', '1958', 'Free Services', '1988', '1962',
       '1950', '1963', '1966', 'Starz', '1957', '1959', '1961', '1967',
       'Prime Video', '1951', '1901', 'HBO MAX', '1952', 'Hulu', '-1',
       '1954', '1948', '1947', 'Viceland', '1953', 'CBS All Access',
       'Disney+', '1956', 'BritBox', 'Apple TV+', 'fuboTV', 'DC Universe',
       'Hoopla', 'AcornTV', 'AMC', 'BET', 'TLC', '1960', 'Cinemax', 
       'NatGeo', 'MTV', '1931', 'Funimation', 'Disney',
       'Food Network', 'Lifetime', 'FOX', 'Showtime', '1904', '1945',
       '1943', 'HBO', '1973', 'DIY', 'Comedy Central', 'HGTV', 'Bravo',
       'VH1', 'A&E', 'BET+', 'Travel Channel', 'FYI']

clean_genras_df=genras_df[~genras_df["genras_name"].isin(genras_to_drop)]

# AlexB 12/2/2020 - End


# JoshBrar 12/3/2020 -  Begin

clean_genras_df.insert(0, 'New_ID', clean_genras_df.index + 100)
clean_genras_df
# Rename the column headers
genras_transformed = clean_genras_df.rename(columns={"New_ID": "genras_id",
                                                     "genras_name": "genras_name"
                                                    })
                                            
genras_transformed.drop_duplicates("genras_name", inplace=True)
genras_transformed.set_index("genras_id", inplace=True)

genras_transformed
# JoshBrar 12/3/2020 -  End

                  genras_name
genras_id
100                     Crime
101                     Drama
102        Action & Adventure
104                 Animation
105                    Comedy
107                   Fantasy
113                   History
121                   Romance
131                     Anime
133           Science-Fiction
137                   Mystery
140                  Thriller
159                    Horror
165                     LGBTQ
196               Documentary
197                 Biography
209           Stand-up & Talk
233                     Sport
411                    Family
419                   Musical
467                  Children
583                    Travel
664                   Reality
771                      Cult
1001                     Food
1673                Game Show
2757            Home & Garden
17611                     Pet
18243                 Science

In [7]:
# JoshBrar 12/3/2020 -  Begin
connection_string = "postgres:Program2@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{connection_string}')
# JoshBrar 12/3/2020 -  End

In [8]:
# JoshBrar 12/3/2020 -  Begin

# Confirm tables
engine.table_names()

# JoshBrar 12/3/2020 -  END

C:\Users\malki\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  after removing the cwd from sys.path.

['genras_tbl', 'movies_tbl', 'movies_shows_genras_tbl']

In [ ]:
# JoshBrar 12/3/2020 -  Begin

# Load Genras into genras_tbl
genras_transformed.to_sql(name='genras_tbl', con=engine, if_exists='append')
# JoshBrar 12/3/2020 -  End

In [9]:
# JoshBrar 12/3/2020 - Begin

# check if the data in genras dataframe  is loaded into the database
genras_db_df = pd.read_sql(sql=sqlalchemy.text('select * from Genras_Tbl'), con = engine)
genras_db_df
# JoshBrar 12/3/2020 - End

    genras_id         genras_name
0         100               Crime
1         101               Drama
2         102  Action & Adventure
3         104           Animation
4         105              Comedy
5         107             Fantasy
6         113             History
7         121             Romance
8         131               Anime
9         133     Science-Fiction
10        137             Mystery
11        140            Thriller
12        159              Horror
13        165               LGBTQ
14        196         Documentary
15        197           Biography
16        209     Stand-up & Talk
17        233               Sport
18        411              Family
19        419             Musical
20        467            Children
21        583              Travel
22        664             Reality
23        771                Cult
24       1001                Food
25       1673           Game Show
26       2757       Home & Garden
27      17611                 Pet
28      18243             Science
29      24327              Action
30      24328           Adventure
31      24329              Sci-Fi
32      24339             Western
33      24347               Music
34      24348                 War
35      24524                News
36      25079               Short
37      27192          Reality-TV
38      27849           Talk-Show
39      30821           Game-Show
40      31402           Film-Noir

In [ ]:
#JackieH 12/2/2020 - Begin 
# Load  Movies to Movies Table
movies_transformed.to_sql(name='movies_tbl', con=engine, if_exists='append', index=True)
#JackieH 12/2/2020 - Begin

In [10]:
#JackieH 12/2/2020 - Begin 
# check if the data  in movies_transformed dataframe is loaded into the Movies_Tbl database

pd.read_sql_query('select * from movies_tbl', con=engine).head()
#JackieH 12/2/2020 - Begin

,id,title,released_year,content_rating,imdb_rating,rot_tomatoes_rating,netflix,hulu,prime_video,disney
0,1,Inception,2010,13+,8.8,87%,1,0,0,0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0

In [11]:
# JoshBrar 12/3/2020 - Begin

# create an Empty DataFrame object 
movie_genras_df = pd.DataFrame(columns = ['ID', 'Title', 'Movie_YN','Genras_Name' ,'Genras_ID']) 
ctr = 0   
for ind in movies_transformed_genras_df.index:
        ctr +=1
        if ctr == 10:
            break
        print( movies_transformed_genras_df['ID'][ind] , movies_transformed_genras_df['Title'][ind], movies_transformed_genras_df['Genres'][ind])
        tempx= movies_transformed_genras_df['Genres'][ind]
        tempx = tempx.split(sep=',')
        print(tempx)
        for yy in tempx:
           
            genras_id_qry = f"select distinct(genras_id) from genras_tbl where genras_name = '{yy}'"   
            genras_id_df = pd.read_sql_query(genras_id_qry, con=engine)
            movie_genras_df = movie_genras_df.append({'ID' : movies_transformed_genras_df['ID'][ind] ,
                        'Title' :  movies_transformed_genras_df['Title'][ind] ,
                        'Movie_YN' : 'Y', 'Genras_Name' : yy , 'Genras_ID' :  genras_id_df.loc[0]['genras_id']},ignore_index = True) 
            
# JoshBrar 12/3/2020 - End

1 Inception Action,Adventure,Sci-Fi,Thriller
['Action', 'Adventure', 'Sci-Fi', 'Thriller']
2 The Matrix Action,Sci-Fi
['Action', 'Sci-Fi']
3 Avengers: Infinity War Action,Adventure,Sci-Fi
['Action', 'Adventure', 'Sci-Fi']
4 Back to the Future Adventure,Comedy,Sci-Fi
['Adventure', 'Comedy', 'Sci-Fi']
5 The Good, the Bad and the Ugly Western
['Western']
6 Spider-Man: Into the Spider-Verse Animation,Action,Adventure,Family,Sci-Fi
['Animation', 'Action', 'Adventure', 'Family', 'Sci-Fi']
7 The Pianist Biography,Drama,Music,War
['Biography', 'Drama', 'Music', 'War']
8 Django Unchained Drama,Western
['Drama', 'Western']
9 Raiders of the Lost Ark Action,Adventure
['Action', 'Adventure']

In [12]:
movie_genras_df

   ID                              Title Movie_YN Genras_Name Genras_ID
0   1                          Inception        Y      Action     24327
1   1                          Inception        Y   Adventure     24328
2   1                          Inception        Y      Sci-Fi     24329
3   1                          Inception        Y    Thriller       140
4   2                         The Matrix        Y      Action     24327
5   2                         The Matrix        Y      Sci-Fi     24329
6   3             Avengers: Infinity War        Y      Action     24327
7   3             Avengers: Infinity War        Y   Adventure     24328
8   3             Avengers: Infinity War        Y      Sci-Fi     24329
9   4                 Back to the Future        Y   Adventure     24328
10  4                 Back to the Future        Y      Comedy       105
11  4                 Back to the Future        Y      Sci-Fi     24329
12  5     The Good, the Bad and the Ugly        Y     Western     24339
13  6  Spider-Man: Into the Spider-Verse        Y   Animation       104
14  6  Spider-Man: Into the Spider-Verse        Y      Action     24327
15  6  Spider-Man: Into the Spider-Verse        Y   Adventure     24328
16  6  Spider-Man: Into the Spider-Verse        Y      Family       411
17  6  Spider-Man: Into the Spider-Verse        Y      Sci-Fi     24329
18  7                        The Pianist        Y   Biography       197
19  7                        The Pianist        Y       Drama       101
20  7                        The Pianist        Y       Music     24347
21  7                        The Pianist        Y         War     24348
22  8                   Django Unchained        Y       Drama       101
23  8                   Django Unchained        Y     Western     24339
24  9            Raiders of the Lost Ark        Y      Action     24327
25  9            Raiders of the Lost Ark        Y   Adventure     24328

In [18]:
genras_cols =  ["ID", "Movie_YN", "Genras_ID"]
new_movie_genras_df= movie_genras_df[genras_cols].copy()

new_movie_genras_df= new_movie_genras_df.rename(columns={"ID":'id',
                                                  "Movie_YN":"movie_yn",
                                                "Genras_ID":"genras_id",
                                             })
new_movie_genras_df

   id movie_yn genras_id
0   1        Y     24327
1   1        Y     24328
2   1        Y     24329
3   1        Y       140
4   2        Y     24327
5   2        Y     24329
6   3        Y     24327
7   3        Y     24328
8   3        Y     24329
9   4        Y     24328
10  4        Y       105
11  4        Y     24329
12  5        Y     24339
13  6        Y       104
14  6        Y     24327
15  6        Y     24328
16  6        Y       411
17  6        Y     24329
18  7        Y       197
19  7        Y       101
20  7        Y     24347
21  7        Y     24348
22  8        Y       101
23  8        Y     24339
24  9        Y     24327
25  9        Y     24328

In [19]:
# JoshBrar 12/4/2020 - Begin
# load now the movie genras to Movies_Shows_Genras_Tbl
#new_movie_genras_df.set_index("ID", inplace=True)
new_movie_genras_df.to_sql(name='movies_shows_genras_tbl', con=engine, if_exists='append',index = False)
# JoshBrar 12/4/2020 - End

In [20]:
# JoshBrar 12/4/2020 - Begin

# check if the data in genras dataframe  is loaded into the database
movie_genras_db_df = pd.read_sql(sql=sqlalchemy.text('select * from movies_shows_Genras_Tbl'), con = engine)
movie_genras_db_df
# JoshBrar 12/4/2020 - End

    id movie_yn  genras_id
0    1        Y      24327
1    1        Y      24328
2    1        Y      24329
3    1        Y        140
4    2        Y      24327
5    2        Y      24329
6    3        Y      24327
7    3        Y      24328
8    3        Y      24329
9    4        Y      24328
10   4        Y        105
11   4        Y      24329
12   5        Y      24339
13   6        Y        104
14   6        Y      24327
15   6        Y      24328
16   6        Y        411
17   6        Y      24329
18   7        Y        197
19   7        Y        101
20   7        Y      24347
21   7        Y      24348
22   8        Y        101
23   8        Y      24339
24   9        Y      24327
25   9        Y      24328