In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import sqlalchemy as sqlalchemy

In [8]:
# JoshBrar 12/4/2020 -  Begin

tvshows_file = "Resources/All_Streaming_Shows.csv"
tvshows_df = pd.read_csv(tvshows_file)
tvshows_df.drop_duplicates("Series Title", inplace=True)
tvshows_df = tvshows_df.dropna(subset=['Genre'])
tvshows_df = tvshows_df.dropna(subset=['Streaming Platform'])

tvshows_df.insert(0, 'ID', tvshows_df.index + 35000)
tvshows_df.set_index("ID", inplace=True)

tvshows_df.head()
# JoshBrar 12/4/2020 -  End

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
ID,,,,,,,,,
35000,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
35001,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
35002,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
35003,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
35004,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video

In [12]:
# JoshBrar 12/4/2020 -  Begin

shows_genres_col =["Series Title", "Year Released","Content Rating","IMDB Rating","R Rating","Genre","Streaming Platform"]
shows_cols = ["Series Title", "Year Released","Content Rating","IMDB Rating","R Rating","Streaming Platform"]
new_tvshows_df= tvshows_df[shows_cols].copy()


new_tvshows_df

# JoshBrar 12/4/2020 -  End

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Streaming Platform
ID,,,,,,
35000,Breaking Bad,2008,18+,9.5,100,Netflix
35001,Game of Thrones,2011,18+,9.3,99,"HBO MAX,HBO"
35002,Rick and Morty,2013,18+,9.2,97,"Free Services,HBO MAX,Hulu"
35003,Stranger Things,2016,16+,8.8,96,Netflix
35004,The Boys,2019,18+,8.7,95,Prime Video
...,...,...,...,...,...,...
47348,A Fishing Story with Ronnie Green,2017,NaN,NaN,-1,"Prime Video,fuboTV"
47349,CMT Most Shocking,2003,NaN,NaN,-1,-1
47350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"Prime Video,Epix"
47351,Addy Media,2018,NaN,NaN,-1,Prime Video
47352,My Dream Derelict Home,2014,NaN,NaN,-1,"Free Services,Prime Video"

In [14]:
# JoshBrar 12/4/2020 -  Begin

new_shows_genres_col_df= tvshows_df[shows_genres_col].copy()
#new_shows_genres_col_df.set_index("ID", inplace=True)

new_shows_genres_col_df
# JoshBrar 12/4/2020 -  End

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Streaming Platform
ID,,,,,,,
35000,Breaking Bad,2008,18+,9.5,100,"Crime,Drama",Netflix
35001,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama","HBO MAX,HBO"
35002,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy","Free Services,HBO MAX,Hulu"
35003,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy",Netflix
35004,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",Prime Video
...,...,...,...,...,...,...,...
47348,A Fishing Story with Ronnie Green,2017,NaN,NaN,-1,"2017,Prime Video","Prime Video,fuboTV"
47349,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1
47350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video","Prime Video,Epix"
47351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Prime Video
47352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services","Free Services,Prime Video"

In [44]:
# JoshBrar 12/4/2020 -  Begin

# create an Empty DataFrame object 
tv_shows_transformed_df = pd.DataFrame(columns = ['id', 'title', 'released_year','content_rating' ,'imdb_rating' ,
                                                  'rot_tomatoes_rating',"netflix","hulu", "prime_video" , "disney"]) 
# create an Empty DataFrame object 
tv_shows_genras_df = pd.DataFrame(columns = ['id', 'title', 'movie_yn','genras_name' ,'genras_id']) 


sctr = 0  
for indx in new_shows_genres_col_df.index:
    
    sctr +=1
    if sctr == 10:
        break
    print("")    
    print("")    

    print( indx , new_shows_genres_col_df['Series Title'][indx],   new_shows_genres_col_df['Genre'][indx],
          new_shows_genres_col_df['Streaming Platform'][indx])
   
    tempxx= new_shows_genres_col_df['Streaming Platform'][indx]
    
    
    if (tempxx.find('Netflix') !=-1):
        
        Netflix= 1
        print ("Add 1 to Netflix Column")
    else:
        Netflix =''
        print ("Do Not add 1 to Netflix Column")

        
    if (tempxx.find('Hulu') !=-1):
        Hulu= 1
        
        print ("Add 1 to Hulu Column")
    else:
        Hulu =''
        print ("Do Not add 1 to Hulu Column")
        
    if (tempxx.find('Prime Video') !=-1):
        Prime_Video= 1
        
        print ("Add 1 to Prime_Video Column")
    else:
        Prime_Video =''
        print ("Do Not add 1 to Prime_Video Column")
        
    if (tempxx.find('Disney') !=-1):
        Disney= 1
        
        print ("Add 1 to Disney Column")
    else:
        Disney =''
        print ("Do Not add 1 to Disney Column")

    tempxx
    
    print (f'Netflix   {Netflix}')
    print (f'Hulu  {Hulu}')
    print (f'Prime_Video  {Prime_Video}')
    print (f'Disney   {Disney}')

    tv_shows_transformed_df = tv_shows_transformed_df.append({'id' : indx ,
                        'title'               : new_shows_genres_col_df['Series Title'][indx] ,
                        'released_year'       : new_shows_genres_col_df['Year Released'][indx] , 
                        'content_rating'      : new_shows_genres_col_df['Content Rating'][indx] ,
                        'imdb_rating'         : new_shows_genres_col_df['IMDB Rating'][indx],                       
                        'rot_tomatoes_rating' : new_shows_genres_col_df['R Rating'][indx],  
                        'netflix'             : Netflix ,    
                        'hulu'                : Hulu , 
                        'prime_video'         : Prime_Video ,                                               
                        'disney'              : Disney ,                                               
                         },ignore_index = True) 
      
         
    
    tempx= new_shows_genres_col_df['Genre'][indx]
    tempx = tempx.split(sep=',')
    print(tempx)
    for yy in tempx:
        genras_id_qry = f"select distinct(genras_id) from genras_tbl where genras_name = '{yy}'"   
        genras_id_df = pd.read_sql_query(genras_id_qry, con=engine)
        tv_shows_genras_df = tv_shows_genras_df.append({'id'           : indx ,
                                                        'title'        : new_shows_genres_col_df['Series Title'][indx],
                                                        'movie_yn'     : 'N', 
                                                        'genras_name'  : yy,
                                                        'genras_id'    :  genras_id_df.loc[0]['genras_id']
                                                           },ignore_index = True) 
            
            
   
# JoshBrar 12/4/2020 -  End

35000 Breaking Bad Crime,Drama Netflix
Add 1 to Netflix Column
Do Not add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix   1
Hulu
Prime_Video
Disney
['Crime', 'Drama']


35001 Game of Thrones Action & Adventure,Drama HBO MAX,HBO
Do Not add 1 to Netflix Column
Do Not add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix
Hulu
Prime_Video
Disney
['Action & Adventure', 'Drama']


35002 Rick and Morty Animation,Comedy Free Services,HBO MAX,Hulu
Do Not add 1 to Netflix Column
Add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix
Hulu  1
Prime_Video
Disney
['Animation', 'Comedy']


35003 Stranger Things Drama,Fantasy Netflix
Add 1 to Netflix Column
Do Not add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix   1
Hulu
Prime_Video
Disney
['Drama', 'Fantasy']


35004 The Boys Action & Adventure,Comedy Prime Video
Do Not add 1 to Netflix Column
Do Not add 1 to Hulu Column
Add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix
Hulu
Prime_Video  1
Disney
['Action & Adventure', 'Comedy']


35005 Dark Crime,Drama Netflix
Add 1 to Netflix Column
Do Not add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix   1
Hulu
Prime_Video
Disney
['Crime', 'Drama']


35006 Chernobyl Drama,History HBO MAX,HBO
Do Not add 1 to Netflix Column
Do Not add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix
Hulu
Prime_Video
Disney
['Drama', 'History']


35007 Sherlock Action & Adventure,Crime Netflix
Add 1 to Netflix Column
Do Not add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix   1
Hulu
Prime_Video
Disney
['Action & Adventure', 'Crime']


35008 Fargo Crime,Drama Hulu
Do Not add 1 to Netflix Column
Add 1 to Hulu Column
Do Not add 1 to Prime_Video Column
Do Not add 1 to Disney Column
Netflix
Hulu  1
Prime_Video
Disney
['Crime', 'Drama']

In [31]:
# JoshBrar 12/4/2020 -  Begin
tv_shows_transformed_df.set_index("id", inplace=True)

tv_shows_transformed_df

# JoshBrar 12/4/2020 -  End

,title,released_year,content_rating,imdb_rating,rot_tomatoes_rating,netflix,hulu,prime_video,disney
id,,,,,,,,,
35000,Breaking Bad,2008,18+,9.5,100,1,,,
35001,Game of Thrones,2011,18+,9.3,99,,,,
35002,Rick and Morty,2013,18+,9.2,97,,1,,
35003,Stranger Things,2016,16+,8.8,96,1,,,
35004,The Boys,2019,18+,8.7,95,,,1,
35005,Dark,2017,16+,8.8,95,1,,,
35006,Chernobyl,2019,18+,9.4,95,,,,
35007,Sherlock,2010,16+,9.1,94,1,,,
35008,Fargo,2014,18+,8.9,94,,1,,

In [46]:
tv_shows_genras_df

       id            title movie_yn         genras_name genras_id
0   35000     Breaking Bad        N               Crime       100
1   35000     Breaking Bad        N               Drama       101
2   35001  Game of Thrones        N  Action & Adventure       102
3   35001  Game of Thrones        N               Drama       101
4   35002   Rick and Morty        N           Animation       104
5   35002   Rick and Morty        N              Comedy       105
6   35003  Stranger Things        N               Drama       101
7   35003  Stranger Things        N             Fantasy       107
8   35004         The Boys        N  Action & Adventure       102
9   35004         The Boys        N              Comedy       105
10  35005             Dark        N               Crime       100
11  35005             Dark        N               Drama       101
12  35006        Chernobyl        N               Drama       101
13  35006        Chernobyl        N             History       113
14  35007         Sherlock        N  Action & Adventure       102
15  35007         Sherlock        N               Crime       100
16  35008            Fargo        N               Crime       100
17  35008            Fargo        N               Drama       101

In [32]:
# JoshBrar 12/4/2020 -  Begin
connection_string = "postgres:Program2@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{connection_string}')
# JoshBrar 12/4/2020 -  End

In [33]:
# JoshBrar 12/4/2020 -  Begin

# Confirm tables
engine.table_names()

# JoshBrar 12/4/2020 -  END

C:\Users\malki\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  after removing the cwd from sys.path.

['genras_tbl',
 'movies_tbl',
 'movies_shows_genras_tbl',
 'movies_shows_genras_Tbl']

In [34]:
# JoshBrar 12/4/2020 -  Begin

# Load Genras into genras_tbl
tv_shows_transformed_df.to_sql(name='tv_shows_tbl', con=engine, if_exists='append')
# JoshBrar 12/4/2020 -  End

       id            title movie_yn         genras_name genras_id
0   35000     Breaking Bad        N               Crime       100
1   35000     Breaking Bad        N               Drama       101
2   35001  Game of Thrones        N  Action & Adventure       102
3   35001  Game of Thrones        N               Drama       101
4   35002   Rick and Morty        N           Animation       104
5   35002   Rick and Morty        N              Comedy       105
6   35003  Stranger Things        N               Drama       101
7   35003  Stranger Things        N             Fantasy       107
8   35004         The Boys        N  Action & Adventure       102
9   35004         The Boys        N              Comedy       105
10  35005             Dark        N               Crime       100
11  35005             Dark        N               Drama       101
12  35006        Chernobyl        N               Drama       101
13  35006        Chernobyl        N             History       113
14  35007         Sherlock        N  Action & Adventure       102
15  35007         Sherlock        N               Crime       100
16  35008            Fargo        N               Crime       100
17  35008            Fargo        N               Drama       101